@import url("../vendor/normalize.css");
.page{
    min-width:  1100px; /*tamaño minimo del bloque */
    max-width: 1600px; /*tamaño maximo del bloque */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 20px; /* Altura de línea */
    box-sizing: border-box;
    font-family: "Arial, Helvetica, sans-serif ", "Times New Roman, Times, serif";
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-image: url(../images/background_header.svg);
    padding: 30px 80px 40px ;
}

.nav {
    display: flex;
    justify-content: space-between;
  }
  
  .nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
    color: #000;
  }
  
  .nav__links {
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    color: #2F80ED;
  }

  .nav__link {
    color: #000000;
    text-decoration: none;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
font-family: "Inter";
  }
  
  .header__title {
    margin-top: 183px;
    max-width: 709px;
    font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: 1px;
  }
  .header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
  color: #2f80ed;
}

  .header__description {
    font-size: 20px;
    line-height: 30px;
    font-family: "Noto Serif";
    font-style: normal;
font-weight: normal;
    max-width: 683px;
    margin-top: 28px;
  }
  .header__image {
 width: 646px;
    position: absolute;
    right: 5px;
    top: 124px;
  }


  .header__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .header__link {
    color: #2f80ed;
    text-decoration: none;
  }
  
  .header__paragraph{
     color: #838383;
    font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 16px;
margin: 0;
  }

   .recipes{
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    padding: 100px 80px 215px ;
  }


.recipes__title{
  max-width: 580px;
  color: white;
  font-family: "Inter";
 font-style: normal;
 font-weight: 500;
 font-size: 44px;
 line-height: 52px;
}

.recipes__subtitle{
  max-width: 438px;
  margin-top: 24px;
  color: white;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px
}

.recipes__videos{
  margin-top: 80px;
 display: flex;
  margin-bottom: 24px;
  gap: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: center;
  }

.recipes__iframe{
  width: 480px;
  height: 273px;
}

.recipes__video-caption{
  margin-top: 24px;
  color: white;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  box-sizing: border-box;
  color: #000;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  width: 385px;
}

.reservation__title {
  margin: 0 auto 80px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  border: none;
  padding: 0;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
   height: 60px;
  padding-bottom: 15px;
  padding-right: 20px;
  margin-bottom: 32px;
  padding-top: 15px;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #6f6f6f;
  box-sizing: border-box;
}

.form__button {
  height: 60px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  opacity: calc(70%);
}

.checkbox {
  width: 20px;
  height: 20px;
  display: flex;
  gap: 12px;
}

.button:hover {
  border-radius: 4px;
}
.footer{
  position: relative;
  padding: 60px 80px;
  background-color:#0A2850;
  overflow: hidden;
  
}
.footer__logo{
  width: 105px;
  height: 39px;
  position: relative;
  z-index: 1;
}
.footer__circle{
  position: absolute;
  width: 340px;
  height: 340px;
 background-color:#2F80ED;
 border-radius: 100% ;
 top: -128px;
 left: -44px;

}
.footer__social{
  display: flex ;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      color: #fff;
}

.footer__social-heading{
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #fff;

}

.footer__list{ 
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  
}
.footer__list-item{
  align-items: center;
  display: flex;
  margin-bottom: 16px;
  color: #fff;
}

.footer__socia-link{
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__copyright{
  color: #bbb;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}