page{
    min-width:  1100px; /*tamaño minimo del bloque */
    max-width: 1600px; /*tamaño maximo del bloque */
    margin: 0 auto; /* centrar horizontalmente */
    padding: 20px;
}
body{
    font-family:'Inter  ', sans-serif;
}
h1{
    font-family:'   Noto Serif', serif;
}